NODE RED/Exported JSON File From NodeRED (All Flows)/flows.json
[
    {
        "id": "1c635a4f.ac8c86",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dace3f22.1fcc7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5872b677.073fc8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c9cd7339.2dd64",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd0f246f.eb63c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "35fcfc4a.71a644",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "moviesdb",
        "tz": ""
    },
    {
        "id": "f26cb839.e94768",
        "type": "ui_group",
        "z": "",
        "name": "DATABASE TOTAL RECORDS",
        "tab": "f2aabb2b.cf6458",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "f2aabb2b.cf6458",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e793a0d6.d3063",
        "type": "ui_group",
        "z": "",
        "name": "MOVIE TRAFFIC",
        "tab": "f2aabb2b.cf6458",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "b9e46aac.884128",
        "type": "ui_group",
        "z": "",
        "name": "USERS' METHOD PREFERENCE",
        "tab": "f2aabb2b.cf6458",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de1b97f7.640438",
        "type": "ui_tab",
        "z": "",
        "name": "TIMELINE STATISTICS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb2c5016.7c528",
        "type": "ui_group",
        "z": "",
        "name": "MOVIE SEARCH OVER TIME VIA METHOD 2 OR 3",
        "tab": "de1b97f7.640438",
        "disp": true,
        "width": "13",
        "collapse": true
    },
    {
        "id": "221e417c.30b84e",
        "type": "inject",
        "z": "1c635a4f.ac8c86",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "ab4d5354.efb4"
            ]
        ]
    },
    {
        "id": "ab4d5354.efb4",
        "type": "function",
        "z": "1c635a4f.ac8c86",
        "name": "SELECT total number of all movie records from db (query)",
        "func": "msg.topic='SELECT COUNT(MovieID) FROM moviesdb.clickedmovie';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "485d0776.df3b48"
            ]
        ]
    },
    {
        "id": "485d0776.df3b48",
        "type": "mysql",
        "z": "1c635a4f.ac8c86",
        "mydb": "35fcfc4a.71a644",
        "name": "MySQL DB",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "94b167e4.bef9e8"
            ]
        ]
    },
    {
        "id": "aa83f9d.cd70008",
        "type": "ui_text",
        "z": "1c635a4f.ac8c86",
        "group": "f26cb839.e94768",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "Total Movie Records found in DB",
        "format": "{{msg.payload[0].movies}}",
        "layout": "col-center",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "94b167e4.bef9e8",
        "type": "change",
        "z": "1c635a4f.ac8c86",
        "name": "Extract movies total number from db response",
        "rules": [
            {
                "t": "move",
                "p": "payload[0].COUNT(MovieID)",
                "pt": "msg",
                "to": "payload[0].movies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "aa83f9d.cd70008",
                "927356cd.2dc908"
            ]
        ]
    },
    {
        "id": "2cab06c9.2479ea",
        "type": "function",
        "z": "1c635a4f.ac8c86",
        "name": "SELECT total number of all rating records from db (query)",
        "func": "msg.topic='SELECT COUNT(Rating) FROM moviesdb.ratings';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "a6c3dc23.ccd8f"
            ]
        ]
    },
    {
        "id": "7bfe22e3.661d7c",
        "type": "inject",
        "z": "1c635a4f.ac8c86",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "2cab06c9.2479ea"
            ]
        ]
    },
    {
        "id": "a6c3dc23.ccd8f",
        "type": "mysql",
        "z": "1c635a4f.ac8c86",
        "mydb": "35fcfc4a.71a644",
        "name": "MySQL DB",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "3837657a.8fccea"
            ]
        ]
    },
    {
        "id": "3837657a.8fccea",
        "type": "change",
        "z": "1c635a4f.ac8c86",
        "name": "Extract ratings total number from db response",
        "rules": [
            {
                "t": "move",
                "p": "payload[0].COUNT(Rating)",
                "pt": "msg",
                "to": "payload[0].ratings",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "9fbf564.7b55da8",
                "aa8329e3.fe67f8"
            ]
        ]
    },
    {
        "id": "9fbf564.7b55da8",
        "type": "ui_text",
        "z": "1c635a4f.ac8c86",
        "group": "f26cb839.e94768",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "Total Rating Records found in DB",
        "format": "{{msg.payload[0].ratings}}",
        "layout": "col-center",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa8329e3.fe67f8",
        "type": "debug",
        "z": "1c635a4f.ac8c86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "927356cd.2dc908",
        "type": "debug",
        "z": "1c635a4f.ac8c86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "a48a9e2a.f0f92",
        "type": "function",
        "z": "dace3f22.1fcc7",
        "name": "Retrieve how many times a movie was clicked in general and how many times the same movie was clicked through method 2 and how many through method 3",
        "func": "msg.topic='SELECT * FROM clickedmovie WHERE MovieID = '+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "b00ddeff.62307"
            ]
        ]
    },
    {
        "id": "b00ddeff.62307",
        "type": "mysql",
        "z": "dace3f22.1fcc7",
        "mydb": "35fcfc4a.71a644",
        "name": "MySQL DB",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "de60e86d.7bf3a8",
                "d6c281b1.f4272"
            ]
        ]
    },
    {
        "id": "de60e86d.7bf3a8",
        "type": "debug",
        "z": "dace3f22.1fcc7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "e37ac742.d3bb68",
        "type": "ui_chart",
        "z": "dace3f22.1fcc7",
        "name": "Movie Traffic Bar Chart",
        "group": "e793a0d6.d3063",
        "order": 3,
        "width": "12",
        "height": "7",
        "label": "Movie Traffic Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d6c281b1.f4272",
        "type": "function",
        "z": "dace3f22.1fcc7",
        "name": "Times Clicked Response Value",
        "func": "msg.payload=[{\n\"series\": [\"TimesMovieSearchedFromAllMethodsAvailable\",\"Times2ndMethodChosen\",\"Times3rdMethodChosen\"],\n\"data\": [ [msg.payload[0].TimesClicked], [msg.payload[0].TimesSecondMethodClicked], [msg.payload[0].TimesThirdMethodClicked] ],\n\"labels\": [\"Times movie with id = \"+msg.payload[0].MovieID+\" was searched by a Chosen Searching Method\"]\n}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "e37ac742.d3bb68"
            ]
        ]
    },
    {
        "id": "f9e976e6.6f14b8",
        "type": "ui_text_input",
        "z": "dace3f22.1fcc7",
        "name": "",
        "label": "Enter Movie ID to show latest movie's search traffic according to search method chosen",
        "tooltip": "",
        "group": "e793a0d6.d3063",
        "order": 2,
        "width": "12",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "a48a9e2a.f0f92"
            ]
        ]
    },
    {
        "id": "8dc2789.7e43a88",
        "type": "inject",
        "z": "5872b677.073fc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "dcb8c118.5038a"
            ]
        ]
    },
    {
        "id": "dcb8c118.5038a",
        "type": "function",
        "z": "5872b677.073fc8",
        "name": "SELECT query to get AllMethods' Clicks, 2ndMethod's and 3rdMethods Total Clicks and compute the percentage to find out the most prefferable method by users",
        "func": "msg.topic='SELECT * FROM clickedmovie WHERE TimesClicked > 0';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "1d6ba0e7.5ee62f"
            ]
        ]
    },
    {
        "id": "1d6ba0e7.5ee62f",
        "type": "mysql",
        "z": "5872b677.073fc8",
        "mydb": "35fcfc4a.71a644",
        "name": "MySQL DB",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "6eda3761.a58a88"
            ]
        ]
    },
    {
        "id": "6eda3761.a58a88",
        "type": "function",
        "z": "5872b677.073fc8",
        "name": "Compute Percentage",
        "func": "var sumTimesClicked = 0;\nvar sumTimes2ndMethodClicked = 0;\nvar sumTimes3rdMethodClicked = 0;\nvar percentageOf2ndMethodPreference;\nvar percentageOf3rdMethodPreference;\nvar percentageOf2ndMethodPreference_temp;\nvar percentageOf3rdMethodPreference_temp;\nvar roundedString2;\nvar roundedString3;\n\nfor(let i = 0; i < msg.payload.length; i++){\n    sumTimesClicked += msg.payload[i].TimesClicked;\n    sumTimes2ndMethodClicked += msg.payload[i].TimesSecondMethodClicked;\n    sumTimes3rdMethodClicked += msg.payload[i].TimesThirdMethodClicked;\n}\npercentageOf2ndMethodPreference_temp = (sumTimes2ndMethodClicked/sumTimesClicked)*100;\npercentageOf3rdMethodPreference_temp = (sumTimes3rdMethodClicked/sumTimesClicked)*100;\n\nroundedString2 = percentageOf2ndMethodPreference_temp.toFixed(1);\nroundedString3 = percentageOf3rdMethodPreference_temp.toFixed(1); // round one digit after decimal's comma\npercentageOf2ndMethodPreference = Number(roundedString2); \npercentageOf3rdMethodPreference = Number(roundedString3); \n\n\nmsg.payload = [{\"percentageOf2ndMethodPreference\":percentageOf2ndMethodPreference},{\"percentageOf3rdMethodPreference\":percentageOf3rdMethodPreference}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "646e56c2.b4d2d8",
                "4b4f4d.30d870b4",
                "40a99dfc.18c524",
                "d9f2058a.d722c8",
                "b3616a4.baad598",
                "3feed534.59d62a"
            ]
        ]
    },
    {
        "id": "646e56c2.b4d2d8",
        "type": "debug",
        "z": "5872b677.073fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "4b4f4d.30d870b4",
        "type": "ui_text",
        "z": "5872b677.073fc8",
        "group": "b9e46aac.884128",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Text Ui Widget For Displaying Users' Prefference over 2 searching methods",
        "label": "Users' 2nd Method's Prefference:",
        "format": "{{msg.payload[0].percentageOf2ndMethodPreference+\"%\"}}",
        "layout": "row-spread",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "867453d2.eac12",
        "type": "ui_gauge",
        "z": "5872b677.073fc8",
        "name": "",
        "group": "b9e46aac.884128",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "gauge",
        "label": "percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "40a99dfc.18c524",
        "type": "function",
        "z": "5872b677.073fc8",
        "name": "Get percentage of prefference of 2nd method",
        "func": "msg.payload = msg.payload[0].percentageOf2ndMethodPreference+\"%\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "867453d2.eac12"
            ]
        ]
    },
    {
        "id": "d9f2058a.d722c8",
        "type": "function",
        "z": "5872b677.073fc8",
        "name": "Get percentage of prefference of 3rd method",
        "func": "msg.payload = msg.payload[1].percentageOf3rdMethodPreference+\"%\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "fddcde8f.7f69"
            ]
        ]
    },
    {
        "id": "fddcde8f.7f69",
        "type": "ui_gauge",
        "z": "5872b677.073fc8",
        "name": "",
        "group": "b9e46aac.884128",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "percentage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "b3616a4.baad598",
        "type": "ui_text",
        "z": "5872b677.073fc8",
        "group": "b9e46aac.884128",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Text Ui Widget For Displaying Users' Prefference over 2 searching methods",
        "label": "Users' 3rd Method's Prefference:",
        "format": "{{msg.payload[1].percentageOf3rdMethodPreference+\"%\"}}",
        "layout": "row-spread",
        "x": 310,
        "y": 380,
        "wires": []
    },
    {
        "id": "3feed534.59d62a",
        "type": "function",
        "z": "5872b677.073fc8",
        "name": "Preferance observations",
        "func": "var percentage2nd = msg.payload[0].percentageOf2ndMethodPreference;\nvar percentage3rd = msg.payload[1].percentageOf3rdMethodPreference;\n\nif(percentage2nd == percentage3rd){\n    msg.payload='It`s a tie! Looks like users prefer both searching methods!'\n} else if(percentage2nd > percentage3rd){\n    msg.payload = 'Mmmm... Looks like users prefer the 2nd method over the 3rd one...'\n} else if(percentage2nd < percentage3rd){\n    msg.payload='Mmmm... Looks like users prefer the 3rd method over the 2nd one...'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "96103a3.085e5c8"
            ]
        ]
    },
    {
        "id": "96103a3.085e5c8",
        "type": "ui_text",
        "z": "5872b677.073fc8",
        "group": "b9e46aac.884128",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Preferance observations text field",
        "label": "Result",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "52b08b06.053d14",
        "type": "ui_text_input",
        "z": "c9cd7339.2dd64",
        "name": "MID FOR TIMELINE STATISTICS",
        "label": "Enter movie id to see statistics for methods used over time",
        "tooltip": "",
        "group": "bb2c5016.7c528",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "6c389b79.5ae974"
            ]
        ]
    },
    {
        "id": "51845159.cb9c3",
        "type": "ui_date_picker",
        "z": "c9cd7339.2dd64",
        "name": "From Date",
        "label": "From",
        "group": "bb2c5016.7c528",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "54073ff2.c1c36"
            ]
        ]
    },
    {
        "id": "4aed619e.b79c9",
        "type": "ui_date_picker",
        "z": "c9cd7339.2dd64",
        "name": "To Date",
        "label": "To",
        "group": "bb2c5016.7c528",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "b6dd6ec4.1e83"
            ]
        ]
    },
    {
        "id": "933b9476.caeba8",
        "type": "function",
        "z": "c9cd7339.2dd64",
        "name": "select * from db where IncomingMovieID = text field's id",
        "func": "msg.topic = 'SELECT * FROM moviesdb.movieclicked WHERE IncomingMovieID = ' + msg.payload.id +' AND Timestamp >= '+'\\''+ msg.payload.from + '\\'' + ' AND Timestamp <= '+'\\'' + msg.payload.to +'\\'';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "2dc88c80.fd60a4"
            ]
        ]
    },
    {
        "id": "2dc88c80.fd60a4",
        "type": "mysql",
        "z": "c9cd7339.2dd64",
        "mydb": "35fcfc4a.71a644",
        "name": "MySQL DB",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "b81bde59.41566",
                "c262af3f.a79a3"
            ]
        ]
    },
    {
        "id": "c262af3f.a79a3",
        "type": "debug",
        "z": "c9cd7339.2dd64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "33bbd28c.243c4e",
        "type": "ui_chart",
        "z": "c9cd7339.2dd64",
        "name": "timeline chart",
        "group": "bb2c5016.7c528",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "DD/MM HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "26c18172.a9ca0e",
        "type": "function",
        "z": "c9cd7339.2dd64",
        "name": "SET msg properties",
        "func": "msg.topic='from';\nmsg.payload=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "529b8c4d.fc9a74"
            ]
        ]
    },
    {
        "id": "1c08cdc8.86c092",
        "type": "function",
        "z": "c9cd7339.2dd64",
        "name": "SET msg properties",
        "func": "msg.topic='to';\nmsg.payload=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "529b8c4d.fc9a74"
            ]
        ]
    },
    {
        "id": "6c389b79.5ae974",
        "type": "function",
        "z": "c9cd7339.2dd64",
        "name": "SET msg properties",
        "func": "msg.topic='id';\nmsg.payload=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "529b8c4d.fc9a74"
            ]
        ]
    },
    {
        "id": "529b8c4d.fc9a74",
        "type": "join",
        "z": "c9cd7339.2dd64",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "933b9476.caeba8"
            ]
        ]
    },
    {
        "id": "54073ff2.c1c36",
        "type": "moment",
        "z": "c9cd7339.2dd64",
        "name": "",
        "topic": "",
        "input": "payload",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "",
        "output": "payload",
        "fakeUTC": false,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "26c18172.a9ca0e"
            ]
        ]
    },
    {
        "id": "b6dd6ec4.1e83",
        "type": "moment",
        "z": "c9cd7339.2dd64",
        "name": "",
        "topic": "",
        "input": "payload",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "",
        "output": "payload",
        "fakeUTC": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "1c08cdc8.86c092"
            ]
        ]
    },
    {
        "id": "b81bde59.41566",
        "type": "function",
        "z": "c9cd7339.2dd64",
        "name": "generate chart's data",
        "func": "var data = [[],[]];\nvar id = msg.payload[0].IncomingMovieID;\nvar Timestamp = [];\nvar Timestamp1 = [];\nvar TimesClickedInEachPeriodOfTimeFrom2ndMethod = [];\nvar TimesClickedInEachPeriodOfTimeFrom3rdMethod = [];\nvar label = [];\n\n\nvar chart2 = [{\n    \"series\":[\"Method 2\", \"Method 3\"],\n    \"data\":data,\n    \"labels\":label\n}];\n\n\n     for(let i = 0; i < msg.payload.length; i++){\n\t if(msg.payload[i].SecondMethodClicked === 1 && msg.payload[i].ThirdMethodClicked === 0){\n        TimesClickedInEachPeriodOfTimeFrom2ndMethod[i] = msg.payload[i].SecondMethodClicked;\n        Timestamp[i] = msg.payload[i].Timestamp;\n\t\t// we have data[0] representing the time series\n\t\t// (the line upon the chart in other words)\n\t\t// for method 2 clicks over time and data[1] representing\n\t\t// time series for method 3 clicks over time...\n        data[0].push({\"x\":Timestamp[i],\"y\":TimesClickedInEachPeriodOfTimeFrom2ndMethod[i]});\n        label[0] = \"Times movie with ID = \"+id+\" was clicked over time Via Method 2\";\n\t}    \n // here starts the code we need in order to draw the line representing the\n // 3rd method's clicks upon time ...\n     else if(msg.payload[i].ThirdMethodClicked === 1 && msg.payload[i].SecondMethodClicked === 0){\n\t \n\t\tTimesClickedInEachPeriodOfTimeFrom3rdMethod[i] = msg.payload[i].ThirdMethodClicked;\n\t\tTimestamp1[i] = msg.payload[i].Timestamp;\n        data[1].push({\"x\":Timestamp1[i],\"y\":TimesClickedInEachPeriodOfTimeFrom3rdMethod[i]});\n        label[1] = \"Times movie with ID = \"+id+\" was clicked over time Via Method 3\";\n            \n        }\n    }\n    msg.payload = chart2;\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "33bbd28c.243c4e",
                "c262af3f.a79a3"
            ]
        ]
    }
]